<launch>
<!-- <node pkg="pid_tracking" name="pid_track" type="pid_tracking_node" output="screen" > -->
    <!-- <param name="final_max_vel" type="double" value="1"/>     -->
<node pkg="robcup" name="LidarLine" type="GetDistanceByLidarLine.py" /> 
<node pkg="robcup" name="lidar_distance" type="DisplayScreen(1).py" /> 
<!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find medical_race)/launch/rviz.rviz"/> -->


</launch> 